<ul class="media-items-list">
    {{#media_items}}
        <li class="media-item {{status_class}}">
            {{{components.component-thumbnail}}}
            <div class="media-content">
                <div class="media-info">
                <!--{{{components.component-status-dot}}}-->
                {{{components.component-media-info}}}
                {{{components.component-operation-text}}}
                </div>
                {{{components.component-path-display}}}
            </div>
        </li>
    {{/media_items}}
</ul> 