<ul class="media-items-list">
    {{#media_items}}
        <li class="media-item {{status_class}}">
            <div class="media-thumbnail">
                {{{components.component-thumbnail}}}
            </div>
            <div class="media-content">
                <span class="status-dot">●</span>
                <a href="{{media_edit_url}}" target="_blank">{{media_title}}</a>
                (ID: {{media_id}})
                <span class="operation-text">{{operation_text}}</span>
                {{{components.component-path-display}}}
            </div>
        </li>
    {{/media_items}}
</ul> 